{% extends "shared/base.html" %}

{% block title %}
  <title>Create Map</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

<h3 class = "mt-5">
  Upload CSV, JSON, Excel
</h3>

<form action="/uploadfiles/" enctype="multipart/form-data" method="post">
 <div class="row justify-content-center">
   <div class="col-md-4 ">
     <div class="mb-3">
       <input class="form-control " name="file" type="file" id="formFile">
     </div>
     <div class="d-grid gap-2 col-6 mx-auto">
        <button  class="btn btn-outline-dark" type="submit">Generate Map</button>
     </div>
   </div>
 </div>
</form>

</div>

</div>

<div class="container-fluid">
  <div class="row">

<form action="/manual" method="get">
<h3>
  To enter manually or see example press bellow
</h3>

<div class="row justify-content-center">
  <div class="col-md-4 ">
    <div class="d-grid gap-2 col-6 mx-auto">
       <button  class="btn btn-outline-dark" type="submit" ">See example</button>
    </div>
  </div>
</div>
</form>

</div>
</div>

{% endblock %}
